html, body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: sans-serif;
}

.main-heading {
    color: white;
    text-transform: uppercase;
}
.loader {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(255,0,255,0.4);
}
.scene-cont {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: none;
}

.init-scene, .first-scene, .sec-scene, .third-scene, .fourth-scene, .fifth-scene, sixth-scene, seventh-scene {
    animation: appearScene .5s ease-out forwards;

}
@keyframes appearScene {
    from { opacity: 0; }
    to { opacity: 1; }
}

.init-scene svg {
    position: absolute;
    width: 70%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
}
.cls-1 {
    fill:#fff;
}
.top-letter {
    animation: bottomAppear 2s ease-out forwards;
}
.bot-letter {
    animation: topAppear 2s ease-out forwards;
}

@keyframes bottomAppear {
    from { opacity: 0; transform: translateY(-100px); }
    to { opacity: 1; transform: translateY(0px); }
}

@keyframes topAppear {
    from { opacity: 0; transform: translateY(100px); }
    to { opacity: 1; transform: translateY(0px); }
}

.remove-scene {
    animation: removeScene .5s ease-out forwards;
}

@keyframes removeScene {
    from { opacity: 1; }
    to { opacity: 0; }
}