@font-face {
    font-family: 'TragicMarker';
    src: url('./assets/fonts/TragicMarker/TragicMarker.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Light.ttf');
}
/*** ELEMENT THREE ***/
.dg, .ac {z-index: 999 !important;}
#stats {position: fixed;z-index: 999;}

/*** DEFAULT ***/
body {
    overflow-x: hidden;
    overflow-y: hidden;
}
* {
    margin: 0;
    padding: 0;
}
h1, p {
    font-family: TragicMarker;
    color: #fff;
}
audio {
    position: absolute;
    z-index: -1;
}
/*** LOADER ***/
.loader {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: #80B6BC;
    z-index: 999;
}
#main {
    position: absolute;
    top: 0;
}
.loader .loading-svg {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 126px;
    width: 191px;
}
.loader .loading-svg {
    opacity: 0.3;
}
.loader .loaded-svg {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 191px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    height: 0px;
}
.loader .load-progress {
    font-family: Poppins;
    position: absolute;
    top: calc(45% + 90px);
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2C777F;
}

#main canvas {
    transition: 2s;
    filter: blur(4px);
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
}
#main canvas.nonblurred {
    transition: 2s;
    filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-filter: blur(0px);
}
/*** TRANSITION SCENE ***/
.scene-cont {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: none;
    z-index: 90;
}

.init-scene, .first-scene, .sec-scene, .third-scene, .fourth-scene, .fifth-scene, sixth-scene, seventh-scene {
    animation: appearScene .5s ease-out forwards;

}
.remove-scene {
    animation: removeScene .5s ease-out forwards;
}
@keyframes appearScene {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes removeScene {
    from { opacity: 1; }
    to { opacity: 0; }
}

/*** SABINE ANIMATION ***/
.init-scene svg {
    position: fixed;
    width: 70%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
}
.cls-1 {
    fill:#fff;
}
.top-letter {
    animation: bottomAppear 2s ease-out forwards;
}
.bot-letter {
    animation: topAppear 2s ease-out forwards;
}
@keyframes bottomAppear {
    from { opacity: 0; transform: translateY(-100px); }
    to { opacity: 1; transform: translateY(0px); }
}

@keyframes topAppear {
    from { opacity: 0; transform: translateY(100px); }
    to { opacity: 1; transform: translateY(0px); }
}

/*** DESCRIPTION ***/
.back-svg {
    position: absolute;
    height: 70px;
    top: 5%;
    left: 7%;
}
.desc-container {
    position: absolute;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}
.up-container {
    top: 37%;
}
.right-container {
    right: 7%;
}
.left-container {
    left: 7%;
}
.desc-title {
    font-size: 4em;
    font-weight: lighter;
}
.desc-content {
    font-size: 1.5em;
    font-weight: lighter;
}

/*** END SCENE ***/
.more-zoom, .less-zoom {
    position: absolute;
    right: 118px;
    width: 40px;
    border-radius: 100px;
    cursor: pointer;
    transition: .1s;
}
.more-zoom:hover, .less-zoom:hover {
    background: rgba(255,255,255,0.25);
    transition: .1s;
}
.more-zoom {
    bottom: 390px;
}
.less-zoom {
    bottom: 330px;
}
.zoom-btn {
    height: auto;
}
.circle-nav {
    position: absolute;
    bottom: 50px;
    height: 230px;
    width: 270px;
    right: 10px;
}
.boussole-img {
    height: auto;
}
.move-cont {
    position: absolute;
    top: 71px;
    left: 84px;
    height: 116px;
    width: 116px;
    animation: rotateBasis 6s ease-out infinite;
}
.move-img {
    position: absolute;
    top: -9px;
    left: 6px;
    height: 110px;
}

@keyframes rotateBasis {
    40% { transform: rotate(0deg)}
    60% { transform: rotate(330deg)}
    80% { transform: rotate(0deg)}
}

/*** NAVIGATION ***/
.nav-bottom, .nav-top {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 99;
}
.nav-bottom {
    bottom: 0;
    flex-direction: column;
}
.nav-top {
    top: 0;
    flex-direction: column-reverse;
}
.nav-bottom svg, .nav-top svg {
    width: 30px;
    margin-bottom: -15px;
    position: relative;
}
.nav-bottom svg .wheel, .nav-top svg .wheel {
    animation: scroll 1s ease-out infinite;
}
@keyframes scroll {
    0% {transform: translateY(0px)}
    50% {transform: translateY(5px)}
    100% {transform: translateY(0px)}
}

.nav-bottom p, .nav-top p {
    margin-bottom: 10px;
    font-family: Poppins;
    color: #2C777F;
}
.nav-bottom .bar, .nav-top .bar {
    height: 30px;
    width: 2px;
    background: #2C777F;
}

